/* @theme kadaster */

/*! @author Frank Kooij */
/*! @auto-scaling true */
/*! @size 16:9 1280px 720px */

:root {
  --innovatiefblauw: #008dc9;
  --klassiekgroen: #007ea9;
  --kobalt: #00387d;
  --krachtiggeel: #d9c900;
  --krachtiggroen: #70a426;
  --wit: #ffffff;
  --zwart: #000000;

  --colorBlockQuoteMarker: var(--innovatiefblauw);
  --colorBlockQuoteText: var(--kobalt);
  --colorBodyText: var(--kobalt);
  --colorCodeBackground: #d9c90020;
  --colorCodeText: var(--innovatiefblauw);
  --colorTableBackground: var(--wit);
  --colorTableText: var(--kobalt);
  --colorTableHead: var(--innovatiefblauw);
  --colorTableBorder: var(--krachtiggroen);
  --colorDebuggingBackground: #ffffff00; /* debug:#ffff0040 else:#ffffff00 */
  --colorFooterText: var(--klassiekgroen);
  --colorHeaderText: var(--klassiekgroen);
  --colorHighlight: var(--innovatiefblauw);
  --colorListItemMarker: var(--innovatiefblauw);
  --colorPageNumberText: var(--klassiekgroen);

  --borderRadius: 16px;
  --contentTop: 3.37cm;
  --contentLeft: 2.43cm;
  --contentWidth: 29cm;
  --flexSpacing: 1cm;
  --footerIndent: 1.9cm; /* =72px */
  --footerRight: 2.2cm; /* =83px */
  --footerTop: 128px; /* logo~128px */
  --footerTransformMatrixTranslateY: calc(720 - 128 - 72); /* =calc(var(--sectionHeight) - var(--footerTop) - var(--footerIndent)) - */
  --headingTop: 1.56cm;
  --listIndent: 1.24cm;
  --pageHeaderBottom: 1.25cm;
  --pageNumberTop: 17.92cm;
  --sectionHeight: 720px; /* =19.05cm */
  --sectionWidth: 1280px; /* =33.867cm */
  }

/* Reset CSS. The goal of a reset stylesheet is to reduce browser inconsistencies in things like default line heights, margins and font sizes of headings, and so on. The reset styles given here are intentionally very generic. There isn't any default color or background set for the body element, for example. I don't particularly recommend that you just use this in its unaltered state in your own projects. It should be tweaked, edited, extended, and otherwise tuned to match your specific reset baseline. Fill in your preferred colors for the page, links, and so on. In other words, this is a starting point, not a self-contained black box of no-touchiness. https://meyerweb.com/eric/tools/css/reset v2.0 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Kenmerken van dia's */
section {
  background: var(--wit);
  background-image: url('./slide.png');
  color: var(--zwart);
  font-family: 'Auto 1', Arial, sans-serif;
  font-size: 40px;
  height: var(--sectionHeight);
  display: flex;
  flex-flow: column nowrap;
  letter-spacing: 3px;
  /* gap: var(--flexSpacing); */
  padding: 0;
  margin: 0;
  position: relative;
  width: var(--sectionWidth);
  word-wrap: break-word;
  z-index: 0;
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  /* text-align: center; */
}

/* Kenmerken van alleen de eerste dia */
section[id="1"] {
  background-image: url('./cover.png');
}
section[id="1"] h1,
section[id="1"] h2 {
  position: absolute;
  padding: 0;
  margin: 0;
  word-wrap: normal;
}

/* Titel van presentatie via h1 van eerste dia */
section[id="1"] h1 {
  color: var(--wit);
  font-size: 90px;
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 1.05;
  text-align: right;
  margin-top: 15px;
  left: 15.7cm;
  top: 10.93cm;
  right: calc(var(--sectionWidth) - 15.7cm - 14.25cm);
  bottom: calc(var(--sectionHeight) - 10.93cm - 5.5cm);
}

/* Auteur en datum van presentatie via h2 van eerste dia */
section[id="1"] h2 {
  color: var(--colorBodyText);
  font-size: 14px;
  font-weight: 900;
  letter-spacing: -1px;
  line-height: 1.8;
  text-align: left;
  margin-top: -5px;
  left: 2.4cm;
  top: 15.01cm;
  right: calc(var(--sectionWidth) - 2.4cm - 5.88cm);
  bottom: calc(var(--sectionHeight) - 15.01cm - 1.14cm);
}

/* Geen andere informatie op eerste dia */
section[id="1"] *:not(h1, h2),
section[id="1"]::after {
  display: none;
}

/* section:not([id="1"]),
section :not(*) {
min-height: 10.6cm;
} */

/* Paginanummer middenonder */
section::after {
  position: absolute;
  padding: 0;
  margin: 0;
  content: '' attr(data-marpit-pagination) ' / ' attr(data-marpit-pagination-total);
  color: var(--colorPageNumberText);
  font-size: 14px;
  font-weight: normal;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  left: 0;
  top: var(--pageNumberTop);
  right: 0;
  bottom: calc(var(--sectionHeight) - var(--pageNumberTop) - var(--heightPageNumber));
  text-align: center;
  z-index: 0;
}

/* Header middenboven */
section header {
  position: absolute;
  padding: 0;
  margin: 0;
  color: var(--colorHeaderText);
  font-size: 11px;
  font-weight: normal;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  left: 0;
  top: calc(0.75cm + 4px);
  right: 0;
  bottom: var(--pageHeaderBottom);
  text-align: center;
  z-index: 0;
}

/* Verticale footer in linker kantlijn */
section footer {
  position: absolute;
  text-align: left;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  font-size: 18px;
  color: var(--colorFooterText);
  line-height: 1;
  letter-spacing: -0.4px;
  top: var(--footerTop);
  left: 0;
  width: calc(var(--sectionHeight) - var(--footerIndent) - var(--footerTop));
  height: var(--footerRight);
  transform: matrix(0,-1,1,0,0,var(--footerTransformMatrixTranslateY));
  transform-origin: 0px 0px;
  z-index: 0;
  background-color: var(--colorDebuggingBackground);
}

section:not([id="1"]) h1 {
  position: absolute;
  color: var(--colorBodyText);
  letter-spacing: -0.3px;
  font-size: 42px;
  margin-left: var(--contentLeft);
  margin-top: var(--headingTop);
  line-height: 1.2;
  width: var(--contentWidth);
  min-height: 1.2cm;
  padding: 0;
  z-index: 20;
  background-color: var(--colorDebuggingBackground);
}

section:not([id="1"]) h1 * {
  margin-left: 0;
  margin-top: 0;
  background-color: var(--colorDebuggingBackground);
}

section:not([id="1"]) h2,
section h3,
section h4,
section h5,
section h6 {
  color: var(--colorBodyText);
  margin-left: var(--contentLeft);
  flex-direction: column;
  max-width: var(--contentWidth);
  background-color: var(--colorDebuggingBackground);
  line-height: 1.2;
  letter-spacing: 0.6px;
  padding: 0;
  z-index: 2;
}

section:not([id="1"]) h2 {
  font-size: 32px;
}

section h3 {
  font-size: 32px;
}

section h4 {
  font-size: 32px;
}

section h5 {
  font-size: 32px;
}

section h6 {
  font-size: 32px;
}

section header+p,
section:not([id="1"]) header+h2,
section header+h3,
section header+h4,
section header+h5,
section header+h6,
section header+ol,
section header+ul,
section header+blockquote,
section header+pre,
section header+table,
section h1+p,
section:not([id="1"]) h1+h2,
section h1+h3,
section h1+h4,
section h1+h5,
section h1+h6,
section h1+ol,
section h1+ul,
section h1+blockquote,
section h1+pre,
section h1+table,
section>p:first-child,
section:not([id="1"])>h2:first-child,
section>h3:first-child,
section>h4:first-child,
section>h5:first-child,
section>h6:first-child,
section>ol:first-child,
section>ul:first-child,
section>blockquote:first-child,
section>pre:first-child,
section>table:first-child {
  margin-top: var(--contentTop);
}

section p,
section ol,
section ul,
section blockquote,
section table,
section :not(h1) code {
  color: var(--colorBodyText);
  letter-spacing: 0.6px;
  font-size: 32px;
  margin-left: var(--contentLeft);
  flex-direction: column;
  max-width: var(--contentWidth);
  z-index: 2;
  background-color: var(--colorDebuggingBackground);
  display: flex;
  gap: var(--flexSpacing);
  flex-flow: row wrap;
  /* justify-content: space-evenly; */
  /* align-items: center; */
}

section>:not(h1, header),
section>header+:not(h1) {
  margin-top: var(--flexSpacing);
}

section p + ol,
section p + ul {
  padding-top: 0;
}

section p,
section blockquote,
section table,
section code {
  line-height: 1.3;
}

section p *:not(img),
section blockquote *,
section :not(h1) code * {
  flex-grow: 1;
}

section code,
section code * {
  font-family: 'Fira Code', monospace;
  font-size: 32px;
  letter-spacing: 0;
  z-index: 2;
}

section pre code {
  background: var(--colorCodeBackground);
  border-radius: var(--borderRadius);
  box-sizing: content-box;
  color: var(--colorCodeText);
  display: block;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-right: 0.4em;
  padding-left: 0.4em;
  margin-left: calc(var(--contentLeft) - 0.4em);
  max-width: calc(var(--contentWidth) + 2 * 0.4em);
  max-height: calc(var(--pageNumberTop) - var(--contentTop) - 2 * 0.3em);
  overflow: clip;
  word-break: break-all;
  /* display: flex; */
  /* margin: 0 auto; */
  /* max-height: calc(10.6cm + 0.4em); */
}

section img {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  border-radius: var(--borderRadius);
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0;
  background-color: var(--wit);
  object-fit: contain;
  max-width: 100%;
  max-height: calc(var(--pageNumberTop) - var(--contentTop));
  z-index: 5;
  /* align-items: center; */
  /* justify-content: center; */
  /* display: block; */
  /* max-height: 100%; */
  /* margin-left: calc(var(--contentLeft) - 0.4em); */
  /* max-height: 10.6cm; */
}

section>header:first-child+h1+p>img:only-child,
section>h1:first-child+p>img:only-child,
section>header:first-child+p>img:only-child,
section>p:first-child>img:only-child {
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  /* right: 0; */
  /* bottom: 0; */
  /* border-radius: 0; */
  height: 100%;
  width: 100%;
  /* object-fit: contain; */
  /* background-color: var(--wit); */
  /* z-index: 9; */
  /* align-items: center; */
  /* justify-content: center; */
  /* align-self: center; */
  /* box-sizing: content-box; */
  /* flex-basis: 50%; */
  /* border-width: var(--sectionWidth); */
  /* border-style: solid; */
  /* border-color: white; */
  /* background-clip: content-box; */
  /* background: white; */
  /* background-color: white; */
  /* background-size: var(--sectionWidth) var(--sectionHeight); */
  /* background-image: none!important; */
  /* background-image: none; */
  /* background-image: initial; */
  /* margin-left: calc(0 - var(--footerRight)); */
  /* margin-top: 0; */
  /* margin-bottom: 0; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* image-rendering: crisp-edges; */
  /* min-height: var(--sectionHeight); */
  /* min-width: var(--sectionWidth); */
  /* height: var(--sectionHeight); */
  /* width: var(--sectionWidth); */
  /* align-items: center; */
}

section ul,
section ol {
  flex-direction: column;
  list-style-position: inside;
  line-height: 1.1;
  margin-top: 0;
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
  gap: 0;
  /* margin: 0 auto; */
  /* text-align: left; */
  /* justify-content: space-evenly; */
}

section :not(p)+ul:not(:first-child),
section :not(p)+ol:not(:first-child) {
  padding-top: calc(var(--flexSpacing) / 2);
}

section p+ul:not(:first-child),
section p+ol:not(:first-child) {
  padding-top: 4px;
}

section ul ul,
section ul ol,
section ol ul,
section ol ol {
  margin-left: var(--listIndent);
  margin-right: 0;
  padding-right: 0;
  padding-left: 0;
}

section ul {
  list-style: none;
}

section li {
  padding-top: 2px;
}

section li>ul,
section li>ol {
  padding-top: 0px; /* additional padding above sub-list */
  padding-bottom: 6px; /* additional padding below sub-list */
  font-size: smaller;
}

  section ul li::before {
  padding-right: calc(var(--listIndent) - 0.5rem);
  color: var(--colorListItemMarker);
  content: "\2302"; /* =huis */
  /* font-size: 100%; */
  /* font-weight: bolder; */
}

section ol {
  list-style-type: decimal;
}

section ul ol,
section ol ol {
  list-style-type: lower-roman;
}

section ul ul ol,
section ul ol ol,
section ol ul ol,
section ol ol ol {
  margin-left: calc(2 * var(--listIndent));
  list-style-type: lower-alpha;
}

/* section ul ul,
section ol ul,
section ul ul ul,
section ul ol ul,
section ol ul ul,
section ol ol ul {
  list-style-type: circle
} */

section blockquote {
  border-left: 0.4rem solid var(--colorBlockQuoteMarker);
  padding: 2px 0;
  flex-direction: column;
  /* line-height: 1.3; */
  /* padding: 0 2em; */
  /* position: relative; */
  /* z-index: 1; */
  /* margin-left: calc(0cm - 2rem); */
  /* color: var(--colorBlockQuoteText); /* tekstkleur van met > ingesprongen tekst */
}

section blockquote p {
  flex-direction: column;
  color: var(--colorBlockQuoteText);
  /* font-size: 90%; */
  font-style: italic;
  padding-left: calc(var(--listIndent) - 0.4rem + 0rem); /* laatste getal ophogen voor tekstblok links inspringen */
  padding-right: 0rem; /* tekstblok rechts inspringen */
  margin-right: 0;
  margin-left: 0;
}

section blockquote > :first-child {
  margin-top: 0;
}

section blockquote > :last-child {
  margin-bottom: 0;
}

section a {
  color: var(--colorHighlight);
  text-decoration: underline;
}

section table {
  border-collapse: collapse;
  table-layout: auto;
  border-spacing: 0;
  border: none;
  display: block;
  overflow: clip;
  max-height: calc(var(--pageNumberTop) - var(--contentTop));
  /* max-height: calc(var(--pageNumberTop) - var(--headingTop) - 1.2cm - 1cm); */
  font-size: 80%;
  /* float: left; */
  /* position: relative; /* schuif tabel een klein stukje omhoog richting tabeltitel */
  /* max-width: var(--contentWidth); */
  /* width: max-content; */
  /* clip-path: content-box; */
  page-break-inside: avoid; /* Note that this property cannot be used on absolutely positioned elements */
}

/* section thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
} */

/* section tbody {
} */

/* section tfoot {
} */

section table th {
  color: var(--colorTableHead);
  font-weight: bolder;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: 0.8px solid var(--colorTableBorder);
  background-color: var(--colorTableBackground);
}

section table td {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: var(--colorTableText);
  border: 0.8px solid var(--colorTableBorder);
}

section table tr {
  background-color: var(--colorTableBackground);
}
